<footer class="mt-5">
  <div class="container">
    <div class="row text-muted">
      <div class="col-6 col-sm-3 mb-2">
        <div class="h4 text-muted mb-2">{{ site.title }}</div>
        <small>
          Copyright © Symetics {{ site.time | date: '%Y' }}.<br>
          All rights reserved.
        </small>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Pages</div>
        <ul class="list-unstyled">
          <!--
          <li><a href="/buecher/angularjs-buch/">AngularJS-Buch</a></li>
          <li><a href="/artikel/alle/">Alle Artikel</a></li>
          <li><a href="/schulungen/angular-intensiv/">Schulungen</a></li>
          <li><a href="/team/">Team</a></li>
          -->
        </ul>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Follow us</div>
        {% assign social_urls = site.social_media_urls %}
        <ul class="list-unstyled">
          {% if social_urls.twitter %}
          <li>
            <a href="{{ social_urls.twitter }}" target="_blank" rel="noopener">Twitter</a>
          </li>
          {% endif %}
          {% if social_urls.facebook %}
          <li>
            <a href="{{ social_urls.facebook }}" target="_blank" rel="noopener">Facebook</a>
          </li>
          {% endif %}
          {% if social_urls.github %}
          <li>
            <a href="{{ social_urls.github }}" target="_blank" rel="noopener">GitHub</a>
          </li>
          {% endif %}
          {% if social_urls.newsletter %}
          <li>
            <a href="{{ social_urls.newsletter }}" target="_blank" rel="noopener">Newsletter</a>
          </li>
          {% endif %}
          <li><a href="/feed.xml" target="_blank" rel="nofollow">RSS-Feed</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 mb-2">
        <div class="h6 text-uppercase text-muted">Legal</div>
        <ul class="list-unstyled">
          <li><a href="/imprint/">Imprint</a></li>
          <li><a href="/data-privacy/">Data Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
