{% if page.newsletter != false %}
<div class="newsletter-section d-print-none pt-5">
  <div class="container">
    <p class="lead text-center">Du möchtest immer auf dem aktuellsten Stand sein? - Melde Dich für unseren Newsletter an!</p>
    <p class="text-center">
      <a class="btn btn-primary" href="https://angularjs.us5.list-manage.com/subscribe/post?u=465db430c1cb88ec6dea2ca40&amp;id=ca0643a82e" target="_blank">
        Jetzt für Neuigkeiten anmelden!
      </a>
    </p>
  </div>
</div>
{% endif %}
